<ion-content>
  <div>
    <div
      class="container"
      style="height: 220px; padding: 11px 13px 0px; overflow: hidden"
    >
      <ion-skeleton-text animated style="width: 100%" *ngIf="!homeBanner">
      </ion-skeleton-text>
      <ion-slides mode="ios" pager="ios" scrollbar="ios">
        <ion-slide *ngFor="let item of homeBanner">
          <img
            [src]="'https://quickchicken.in/api/'+item.image"
            *ngIf="homeBanner"
          />
        </ion-slide>
      </ion-slides>

      <div class="centered">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="2" style="display: flex">
              <ion-icon
                style="
                  background: white;
                  color: black;
                  padding: 10px;
                  width: 45%;
                  border-radius: 3px;
                  height: 19px;
                "
                (click)="openFirst()"
                name="menu-outline"
              ></ion-icon>
            </ion-col>
            <ion-col size="10">
              <div
                class="search-bar"
                [routerLink]="['/search']"
                routerLinkActive="router-link-active"
                style="background: #ffffff; color: black; border-radius: 3px"
              >
                <ion-grid>
                  <ion-row class="ion-no-margin">
                    <ion-col
                      style="display: flex; align-items: center; height: 30px"
                      size="10"
                    >
                      <h4 style="margin-left: 11px">Search for any product</h4>
                    </ion-col>
                    <ion-col
                      size="2"
                      style="
                        text-align: center;
                        justify-content: center;
                        display: grid;
                        align-items: center;
                      "
                    >
                      <ion-icon name="search-outline"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="category-icon" *ngIf="category">
      <ion-grid>
        <ion-row>
          <ion-col
            size="2.4"
            *ngFor="let item of category"
            [routerLink]="['/allproduct', item.id]"
            routerLinkActive="router-link-active"
          >
            <div>
              <img [src]="'https://quickchicken.in/api/'+item.image" />
            </div>
            <span style="font-size: 9px">{{item.name}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="!category">
      <ion-grid>
        <ion-row>
          <ion-col size="2.4">
            <ion-skeleton-text
              style="height: 60px; border-radius: 3px"
              animated
            ></ion-skeleton-text>
          </ion-col>
          <ion-col size="2.4">
            <ion-skeleton-text
              style="height: 60px; border-radius: 3px"
              animated
            ></ion-skeleton-text>
          </ion-col>
          <ion-col size="2.4">
            <ion-skeleton-text
              style="height: 60px; border-radius: 3px"
              animated
            ></ion-skeleton-text>
          </ion-col>
          <ion-col size="2.4">
            <ion-skeleton-text
              style="height: 60px; border-radius: 3px"
              animated
            ></ion-skeleton-text>
          </ion-col>
          <ion-col size="2.4">
            <ion-skeleton-text
              style="height: 60px; border-radius: 3px"
              animated
            ></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <hr style="border-top: 1px solid; margin: 0 10px; background: #990000" />
  </div>

  <div class="popular-item">
    <ion-grid id="mleft">
      <ion-row>
        <ion-col size="8">
          <h1 style="font-size: 15px">
            <!-- test:{{test}} -->
            <b>Today's Top Picks</b>
          </h1>
          <h4 style="color: #9a0002; font-size: 12px">
            What are people cooking today!
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div *ngIf="!popularitem">
        <div class="top-picks" *ngFor="let _ of [].constructor(3)">
          <ion-grid>
            <ion-row
              style="
                background: white;
                border-radius: 3px;
                padding: 5px 8px 0;
                margin: 0 8px 13px;
              "
            >
              <ion-col size="3" style="padding: 0">
                <div
                  style="
                    height: 74px;
                    overflow: hidden;
                    border-radius: 5px;
                    margin-bottom: 8px;
                  "
                >
                  <ion-skeleton-text
                    style="height: 100%; border-radius: 3px"
                    animated
                  ></ion-skeleton-text>
                </div>
              </ion-col>
              <ion-col size="6">
                <h3
                  style="font-size: 10px; line-height: initial; font-weight: 800"
                >
                  <ion-skeleton-text
                    animated
                    style="width: 100%"
                  ></ion-skeleton-text>
                </h3>
                <h4 style="font-size: 8px; line-height: initial">
                  <ion-skeleton-text
                    animated
                    style="width: 100%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"
                  ></ion-skeleton-text>
                </h4>
              </ion-col>
              <ion-col size="3">
                <h4 style="font-weight: 700; font-size: 14px">
                  <ion-skeleton-text
                    animated
                    style="width: 100%"
                  ></ion-skeleton-text>
                </h4>
  
                <h3 style="font-size: 9px; line-height: initial">
                  <ion-skeleton-text
                    animated
                    style="width: 100%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"
                  ></ion-skeleton-text>
                </h3>
                <h3 style="font-size: 9px; line-height: initial">
                  <ion-skeleton-text
                    animated
                    style="width: 100%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"
                  ></ion-skeleton-text>
                </h3>
              </ion-col>
  
              <ion-col size="8.5">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 30px"
                ></ion-skeleton-text
              ></ion-col>
              <ion-col size="3.5">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 30px"
                ></ion-skeleton-text
              ></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div> -->

    <div style="padding: 0 3px" *ngIf="!popularitem">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let _ of [].constructor(6)">
            <div style="background: white; padding: 8px; height: 100%">
              <div style="height: 74px; overflow: hidden; margin-bottom: 8px">
                <ion-skeleton-text
                  style="height: 100%; border-radius: 3px"
                  animated
                ></ion-skeleton-text>
              </div>
              <ion-skeleton-text
                style="height: 5%"
                animated
              ></ion-skeleton-text>
              <ion-skeleton-text
                style="height: 5%; width: 60%"
                animated
              ></ion-skeleton-text>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="5.8">
                    <ion-skeleton-text
                      style="height: 100%; width: 100%"
                      animated
                    ></ion-skeleton-text
                  ></ion-col>
                  <ion-col size="0.4"></ion-col>
                  <ion-col size="5.8">
                    <ion-skeleton-text
                      style="height: 100%; width: 100%"
                      animated
                    ></ion-skeleton-text
                  ></ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div style="padding: 0 3px">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let item of popularitem">
            <div
              style="
                background: white;
                padding: 8px;
                border-radius: 3px;
                height: 100%;
              "
            >
              <div
                style="
                  height: 74px;
                  overflow: hidden;
                  border-radius: 5px;
                  margin-bottom: 8px;
                "
              >
                <img
                  class="image-cover"
                  [src]="'https://quickchicken.in/api/'+item.image"
                  alt=""
                  style="width: 100%; height: 100%; object-fit: cover"
                  srcset=""
                />
              </div>
              <h3
                style="font-size: 10px; line-height: initial; font-weight: 800"
                [routerLink]="['/productdet', item.id]"
                routerLinkActive="router-link-active"
              >
                {{item.name | slice:0:25}}..
              </h3>
              <h4 style="font-size: 8px; line-height: initial">
                {{ item.description | slice:0:40}}..
              </h4>

              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col
                    size="12"
                    style="
                      display: flex;
                      align-items: center;
                      margin-bottom: 10px;
                    "
                  >
                    <h3
                      style="
                        font-size: 8px;
                        line-height: initial;
                        display: flex;
                      "
                      *ngIf="item.category_id == 1"
                    >
                      Total Weight : {{item.weight}} Gms
                    </h3>
                    <h3
                      style="font-size: 8px; line-height: initial"
                      *ngIf="item.category_id == 2"
                    >
                      Total Quantity : {{item.pieces}} Pieces
                    </h3>
                  </ion-col>
                  <ion-col size="6">
                    <h4 style="font-weight: 700; font-size: 14px">
                      ₹ {{item.price}}
                    </h4>
                  </ion-col>
                  <ion-col
                    size="6"
                    style="
                      font-weight: 600;
                      font-size: 11px;
                      text-align: center;
                      background: #990000;
                      color: white;
                      border-radius: 3px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                    (click)="addToCart(item.id,item.weight)"
                    *ngIf="item.hide_btn == null"
                  >
                    Add to cart</ion-col
                  >
                  <ion-col
                    size="6"
                    style="
                      font-weight: 600;
                      font-size: 11px;
                      text-align: center;
                      background: #990000;
                      color: white;
                      border-radius: 3px;
                      display: flex;
                      justify-content: space-evenly;
                      align-items: center;
                    "
                    *ngIf="item.hide_btn == true"
                  >
                    <ion-icon
                      name="remove-outline"
                      (click)="dec(item)"
                    ></ion-icon>
                    {{item.quantity}}
                    <ion-icon name="add-outline" (click)="inc(item)"></ion-icon
                  ></ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- 
      <div class="top-picks">
        <ion-grid>
          <ion-row
            *ngFor="let item of popularitem"
            style="
              background: white;
              border-radius: 3px;
              padding: 8px;
              margin: 0 8px 13px;
            "
          >
            <ion-col size="3" style="padding: 0">
              <div
                style="
                  height: 74px;
                  overflow: hidden;
                  border-radius: 5px;
                  margin-bottom: 8px;
                "
              >
                <img
                  class="image-cover"
                  [src]="'https://quickchicken.in/api/'+item.image"
                  alt=""
                  style="width: 100%; height: 100%"
                  srcset=""
                />
              </div>
            </ion-col>
            <ion-col size="6">
              <h3
                style="font-size: 10px; line-height: initial; font-weight: 800"
                [routerLink]="['/productdet', item.id]"
                routerLinkActive="router-link-active"
              >
                {{item.name}}
              </h3>
              <h4 style="font-size: 8px; line-height: initial">
                {{ item.description | slice:0:60}}..
              </h4>
            </ion-col>
            <ion-col size="3">
              <h4 style="font-weight: 700; font-size: 14px">
                ₹ {{item.price}}
              </h4>
  
              <h3
                style="font-size: 9px; line-height: initial"
                *ngIf="item.category_id == 1"
              >
                Total Weight : {{item.weight}} Grams
              </h3>
              <h3
                style="font-size: 9px; line-height: initial"
                *ngIf="item.category_id == 2"
              >
                Total Quantity : {{item.pieces}} Pieces
              </h3>
            </ion-col>
  
            <ion-col
              size="8.5"
              style="
                font-weight: 600;
                font-size: 11px;
                text-align: center;
                background: #ffcc00;
                border-radius: 3px;
                margin-right: 4px;
              "
              [routerLink]="['/nutrivalue', item.id]"
              routerLinkActive="router-link-active"
              >View Nutrition Value</ion-col
            >
            <ion-col
              size="3.3"
              style="
                font-weight: 600;
                font-size: 11px;
                text-align: center;
                background: #990000;
                color: white;
                border-radius: 3px;
              "
              (click)="addToCart(item.id,item.weight)"
              *ngIf="item.hide_btn == null"
            >
              Add to cart</ion-col
            >
            <ion-col
              size="3.3"
              style="
                font-weight: 600;
                font-size: 11px;
                text-align: center;
                background: #990000;
                color: white;
                border-radius: 3px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
              "
              *ngIf="item.hide_btn == true"
            >
              <ion-icon name="remove-outline" (click)="dec(item)"></ion-icon>
              {{item.quantity}}
              <ion-icon name="add-outline" (click)="inc(item)"></ion-icon
            ></ion-col>
          </ion-row>
        </ion-grid>
      </div> -->
  </div>

  <hr style="border-top: 1px solid; margin: 0 10px; background: #990000" />
  <div class="popular-item">
    <ion-grid style="margin-left: 10px">
      <ion-row>
        <ion-col size="10">
          <h1 style="font-size: 15px">
            <b>Today's Top Recipe</b>
          </h1>
          <h4 style="color: #9a0002; font-size: 12px">
            Recipe from the people for the people!
          </h4>
        </ion-col>
        <!-- <ion-col size="2">
            <span>view more</span>
          </ion-col> -->
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!desktopRecipe">
      <ion-row style="padding: 10px">
        <ion-col
          size="5.8"
          *ngFor="let _ of [].constructor(2)"
          style="border-radius: 3px; background: white; margin: 0px 1px 4px"
        >
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="12">
                <div style="height: 52px; overflow: hidden; border-radius: 3px">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </div>
              </ion-col>
              <ion-col size="12">
                <h1
                  style="
                    font-size: 10px;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 6px;
                  "
                >
                  <ion-skeleton-text
                    style="width: 60%"
                    animated
                  ></ion-skeleton-text>
                </h1>
                <h1
                  style="
                    font-size: 8px;

                    line-height: normal;
                  "
                >
                  <ion-skeleton-text animated></ion-skeleton-text>
                  <ion-skeleton-text
                    style="width: 30%"
                    animated
                  ></ion-skeleton-text>
                </h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row style="padding: 8px">
        <ion-col
          size="5.8"
          *ngFor="let item of desktopRecipe"
          style="border-radius: 3px; background: white; margin: 0px 1px 4px"
          [routerLink]="['/recipe', item.id]"
        >
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="12">
                <div style="height: 52px; overflow: hidden; border-radius: 3px">
                  <img
                    [src]="'https://quickchicken.in/api/'+item.image"
                    alt=""
                    srcset=""
                  />
                </div>
              </ion-col>
              <ion-col size="12">
                <h1
                  style="
                    font-size: 10px;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 6px;
                  "
                >
                  {{item.name | titlecase}}
                </h1>
                <h1
                  style="
                    font-size: 8px;

                    line-height: normal;
                  "
                >
                  {{item.description | slice:3:50}}..
                  <span style="color: #990000">view recipe</span>
                </h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="fcartCount>=1">
  <ion-grid style="background: #990000; color: white">
    <ion-row style="padding: 2px 18px">
      <ion-col size="6">
        {{fcartCount}} Item &nbsp;&nbsp;|&nbsp;&nbsp; ₹ {{fcartPrice}}
      </ion-col>
      <ion-col
        size="6"
        style="
          text-align: end;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        "
      >
        <span
          style="padding-right: 10px"
          [routerLink]="['/tabs/tab3']"
          routerLinkActive="router-link-active"
        >
          View Cart
        </span>

        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
