<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content id="login" style="--background: #fffdff; background: #fffdff">
  <!-- <video
    oncanplay="this.play()"
    allowfullscreen
    onloadedmetadata="this.muted = true"
    autoplay
    style="width: 100%; height: 100%"
  >
    <source src="assets/splash.gif" type="video/mp4" />
    Your browser does not support the video tag.
  </video> -->
  <!-- <img src="assets/splash/intro.gif" /> -->

  <img src="assets/splash.gif" alt="" srcset="" />
</ion-content>
