.container {
  border-radius: 3px;
  //   position: relative;
  text-align: center;
  color: white;
}

.centered {
  //   width: 87%;
  //   position: absolute;
  top: 18%;
  left: 50%;
  //   transform: translate(-50%, -50%);
}
