<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <h1>
      Update <br />
      Address deatils
    </h1>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Address "></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nearby landmark*</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Pin Code*</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Receiver Name.*</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Mobile No. *</mat-label>
      <input matInput />
    </mat-form-field>
    <button mat-flat-button>Save Address</button>
  </div>
</ion-content>
